.wetherBg{
  background: url(https://www.accuweather.com/images/hero/4/1440x450.jpg);
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.heading{
  color:aliceblue;
  font-weight: 500;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px
}
.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height:100px
}
.weathercity{
  font-size: 35px;
}

.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}
